.carousel .thumbs-wrapper {
    display: none;
}
.carousel .slider li span:nth-child(2) img{
    display: none !important;
    max-height: 525px !important;
}

.carousel-status{
    display: none;
}
@media screen and (max-width: 560px) {
    .carousel .slider li span:nth-child(1) img{
        display: none !important;
    }
    .carousel .slider li span:nth-child(2){
        width: 100% !important;
        img{
            display: block !important;
        }
    }
}