.aboutus{
    width: 100%;
    min-height: 770px;
}
.itemsAboutus{
    display: flex;
    justify-content: center;
}
.itemAboutus{
    margin: 50px;
    width: 600px;
}
.itemAboutus:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
    color: #fff;
}
.itemAboutus:nth-child(2)>p img{
    height: 90px !important;
    width: 90px !important;
    /* position: relative !important; */
    top: 40px !important;
}
.itemAboutus span{
    color: var(--gold);
}

.itemAboutus:nth-child(1) span img{
    height: 320px !important;
    width: 426px !important;
    border-radius: 4px;
}
.itemAboutus:nth-child(1) span:nth-child(2) img{
    margin: 15px 0 0 50px !important;
} 
.itemAboutus:nth-child(2) img{
    width: 70% !important;
}
@media only screen and (max-width: 1514px){
    .itemAboutus p{
        font-size: 14px;
    }
}
@media only screen and (max-width: 1448px){
    .itemAboutus {
        margin: 50px 10px;
    }
}
@media only screen and (max-width: 992px){
    .itemAboutus:nth-child(1) span{
        margin-left: 10px !important;
    }
    .itemAboutus:nth-child(1) span img {
        height: 280px !important;
    }
    .itemAboutus:nth-child(1) span:nth-child(2) img {
        margin: 0 !important;
    }
    .itemAboutus:nth-child(2) img {
        width: 220px !important;
        height: 80px !important;
    }
    .itemAboutus:nth-child(2) {
        margin-top: 30px;
    }
    .itemsAboutus {
        flex-direction: column-reverse;
        align-items: center;
    }
    .itemAboutus {
        margin: 15px;
        width: 92%;
        justify-content: space-around;
        display: flex
    }
}
@media only screen and (max-width: 936px){
    .itemAboutus{
        flex-direction: column;
    }
    .itemAboutus:nth-child(1) span img {
        height: 100% !important;
        width: 100% !important;
    }
    .itemAboutus:nth-child(1) span:nth-child(2) img {
        margin-top: 10px;
    }
    .itemAboutus:nth-child(1) span{
        margin-left: 0 !important;
    }
}
@media only screen and (max-width: 756px){
    .itemAboutus p {
        text-align: center;
    }
}
@media only screen and (max-width: 614px){
    .itemAboutus {
        margin: 50px 0 0 0;
    }
}
@media only screen and (max-width: 614px){
}
